@import '../../../assets/scss/vars';
widget-chat-fixed {
    text-transform: none;
    display: flex;
    box-sizing: border-box;
    width: 300px;
    padding: 15px 20px 0;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10;
    .popover-box {
        box-shadow: 0 2px 3px $dark_gray;
        background-color: $whitish;
        padding: 30px 20px 20px;
        position: relative;
        color: $dark_gray;
        margin-bottom: 75px;
        &::after {
            content: "";
            position: absolute;
            bottom: -26px;
            border: 12px solid transparent;
            border-top: 14px solid $whitish;
            z-index: 1;
            right: 20px;
        }
        &::before {
            content: "";
            position: absolute;
            bottom: -30px;
            border: 14px solid transparent;
            border-top: 16px solid $grayish;
            z-index: 0;
            right: 18px;
        }
        p {
            line-height: 1.5;
        }
        i.hi-robot {
            position: absolute;
            width: 50px;
            height: 50px;
            background-color: $blue;
            border-radius: 25px;
            top: -25px;
            left: calc(50% - 25px);
            line-height: 50px;
            color: $whitish;
            text-align: center;
            font-size: 26px;
        }
        .close {
            position: absolute;
            right: 0;
            width: 30px;
            line-height: 30px;
            text-align: center;
            top: 0;
            font-size: 18px;
            cursor: pointer;
        }
    }
    .chatbot-icon {
        width: 48px;
        position: absolute;
        right: 10px;
        bottom: 10px;
        cursor: pointer;
    }
    .chatbot-window {
        position: absolute;
        left: 0;
        right: 20px;
        z-index: 1;
        background-color: $white;
        bottom: 20px;
        border-radius: 20px;
        box-shadow: 0 0 3px $dark_gray;
        .head {
            display: flex;
            position: relative;
            padding: 10px 15px;
            i.hi-close {
                position: absolute;
                right: 10px;
                top: 10px;
                background-color: $red;
                color: $white;
                width: 20px;
                line-height: 20px;
                text-align: center;
                border-radius: 50%;
                cursor: pointer;
            }
            p {
                margin: 0;
            }
        }
        .body {
            background-color: $whitish;
            height: 320px;
            padding: 20px 30px 0;
            overflow-y: auto;
            flex-direction: column;
            .hi-suru {
                position: absolute;
                z-index: 0;
                opacity: 0.25;
                color: $blue;
                font-size: 60px;
                line-height: 60px;
                width: 60px;
                text-align: center;
                top: calc(50% - 30px);
                left: calc(50% - 30px);
            }
            .msg-box {
                display: flex;
                padding: 0 0 20px 0;
                .msg {
                    max-width: 80%;
                    padding: 10px 15px 20px;
                    border-radius: 10px;
                    display: inline-block;
                    position: relative;
                    p {
                        margin: 0
                    }
                    small {
                        position: relative;
                        right: 10px;
                        bottom: 7px;
                        float: right;
                        margin: 12px -10px -18px 10px;
                        opacity: 0.75;
                    }
                    &.mine {
                        color: #fff;
                        border-bottom-right-radius: 0;
                        background-color: $blue;
                        margin: 0 10px 0 auto;
                        &:after {
                            position: absolute;
                            content: "";
                            background-color: $blue;
                            border: 4px solid $whitish;
                            border-bottom-color: $blue;
                            right: -8px;
                            bottom: 0;
                            border-left-color: $blue;
                        }
                        &:before {
                            content: "\f09e";
                            font-family: 'haticons';
                            width: 30px;
                            line-height: 30px;
                            font-size: 18px;
                            text-align: center;
                            background-color: #fff;
                            position: absolute;
                            right: -39px;
                            bottom: -15px;
                            border-radius: 50%;
                            color: #488aff;
                        }
                    }
                    &.bot {
                        color: $black;
                        border-bottom-left-radius: 0;
                        background-color: $white;
                        margin: 0 auto 0 10px;
                        &:after {
                            position: absolute;
                            content: "";
                            background-color: $white;
                            border: 4px solid $whitish;
                            border-bottom-color: $white;
                            left: -8px;
                            bottom: 0;
                            border-right-color: $white;
                        }
                        &:before {
                            content: "";
                            background-image: url('/pi-cms/api/5e0fc05e70f31.png');
                            position: absolute;
                            left: -39px;
                            bottom: -15px;
                            width: 30px;
                            height: 30px;
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                    }
                }
                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
        .footer {
            display: flex;
            position: relative;
            textarea {
                min-height: 50px;
                min-width: 100%;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                resize: none;
                background-color: $white;
                padding-right: 50px;
            }
            button {
                right: 0;
                position: absolute;
                background-color: $white;
                width: 50px;
                padding: 0;
                text-align: center;
                color: $grayish;
                font-size: 20px;
                border-radius: 0;
                border-bottom-right-radius: 20px;
                &:hover {
                    background-color: $whitish;
                }
            }
        }
    }
}