<widget-header></widget-header>
<div class="main">
    <div class="banner boxed">
        <div class="container">
            <ngx-typed-js [strings]="[page.title]" [typeSpeed]="100">
                <h1 class="typing title">{{page.title}}</h1>
            </ngx-typed-js>
        </div>
    </div>
    <div class="content container flex-container">
        <main class="main-content">
            <ul class="posts">
                <li *ngFor="let item of posts">
                    <img src="{{imageBase+item.images}}" alt="{{item.title}}" />
                    <h4>{{item.title}}</h4>
                    <p class="meta-content"><span class="author"><i class="hi-user"></i>{{getAuthor(item.author_id)}}</span></p>
                    <p class="date">{{convertDate(item.post_date)}}</p>
                    <p class="description" [innerHtml]="item.excerpt"></p>
                    <!-- <p class="categories">{{item.categories}}</p>
                    <p class="tags">{{item.tags}}</p> -->
                    <a class="read-more" [routerLink]="['/'+item.slug]" title="{{item.title}}">Read More</a>
                </li>
            </ul>
            <ul class="pagination" *ngIf="pagesCount>1">
                <li (click)="getPosts('post', pageSize, pageNumber-1)" class="prev" [ngClass]="{'inactive': pageNumber == 0}"><i class="icon">&laquo;</i><span> Prev</span></li>
                <li *ngFor="let p of Arr(pagesCount).fill(1);index as i" (click)="getPosts('post', pageSize, i)" [ngClass]="{'active': i == pageNumber}">{{i+1}}</li>
                <li (click)="getPosts('post', pageSize, pageNumber+1)" class="next" [ngClass]="{'inactive': pageNumber+1 == pagesCount}"><span>Next </span><i class="icon">&raquo;</i></li>
            </ul>
        </main>
        <aside class="main-sidebar">
            <widget-sidebar></widget-sidebar>
        </aside>
    </div>
</div>
<widget-footer></widget-footer>
