@import '../../../assets/scss/vars';
widget-footer {
    box-sizing: border-box;
    display: flex;
    min-height: 100px;
    color: $dark_gray;
    border-top: 1px solid $gray;
    text-transform: uppercase;
    .container {
        display: flex;
        .copyright-text {
            margin: auto auto auto 0;
        }
        .footer-links {
            margin: auto;
            list-style: none;
            padding: 0;
            display: flex;
            li {
                padding: 0 20px;
                &:not(:first-child) {
                    border-left: 1px solid $dark_gray;
                }
            }
        }
        .social-links {
            margin: auto 0 auto auto;
            list-style: none;
            padding: 0;
            display: flex;
            li {
                &:last-child {
                    a {
                        margin-right: 0;
                    }
                }
            }
            a {
                color: $whitish;
                font-size: 16px;
                width: 40px;
                line-height: 40px;
                text-align: center;
                border-radius: 50%;
                margin: 0 10px;
                &.facebook {
                    background-color: $facebook_color;
                }
                &.twitter {
                    background-color: $twitter_color;
                }
                &.linkedin {
                    background-color: $linkedin_color;
                }
            }
        }
    }
}
@media (max-width: 800px) {
    widget-footer {
        padding: 10px 0;
        .container {
            flex-direction: column;
            ul.footer-links {
                margin: 10px 0;
                flex-direction: column;
                li a {
                    line-height: 30px;
                }
            }
        }
    }
}