@import '../../../assets/scss/vars';
template-case-studies {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .banner {
        &.banner-top {
            background-image: url('/pi-cms/api/case-studies-min.jpg')
        }
        &.gray-section {
            background-image: url('/pi-cms/api/5e308596becae.png');
            min-height: 600px;
            background-size: cover;
            background-position: center;
            min-height: 600px;
            .container {
                padding-top: 100px;
                height: 100%;
            }
        }
        &.growth-banner {
            background-color: $gray;
            background-size: 800px;
            background-repeat: no-repeat;
            background-position: right bottom;
            background-image: url('/pi-cms/api/5dfac45fcddd3.png');
            h4 {
                text-shadow: none;
                color: $black;
                max-width: 600px;
            }
        }
    }
    .main {
        padding-bottom: 0;
    }
    .contact-box {
        max-width: 410px;
        margin: 40px auto;
        text-align: center;
        h4 {
            font-size: 22px;
        }
        p {
            line-height:2;
        }
    }
    .form-box {
        display: flex;
        margin: -20px -20px 20px;
        line-height: 1.8;
        box-shadow: 0 1px 3px #ccc;
        .form {
            flex: 3;
            padding: 40px;
        }

        .form-meta {
            flex: 1;
            background-color: $black;
            color: $whitish;
            padding: 40px;
            a {
                color: $whitish
            }
            .contact-column {
                margin-bottom: 20px;
                display: flex;
                i {
                    vertical-align: bottom;
                    margin-top: 6px;
                    font-size: 20px;
                    margin-right: 10px;
                }
            }
        }
        h2, h3 {
            margin: 0 0 20px;
        }
        h2 i {
            float: right;
            position: relative;
            &:after {
                content: "\f094";
                position: absolute;
                left: -36px;
                margin-top: -5px;
                font-size: 32px;
                transform: rotateY(180deg);
            }
        }
    }
    ul.social-links {
        display: flex;
        list-style: none;
        margin: 0 0 0 -10px;
        padding: 0;
        li a {
            width: 40px;
            margin: 0 10px 0 0;
            line-height: 40px;
            text-align: center;
            font-size: 20px;
        }
    }
    .dual {
        display: grid;
        grid-gap: 40px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        .form-group {
            padding-top: 20px;
            margin-top: 0;
            label {
                top: 0;
                line-height: 20px;
                border: 0;
                padding: 0;
                font-size: 14px;
            }
            input, textarea {
                border-bottom: 1px solid #ccc;
                background-color: $whitish;
            }
        }
    }
    section {
        padding: 60px 0;
        h4 {
            font-size: 32px;
            margin: 0 0 30px;
        }
        &.white-section {
            background-color: $white;
            h4 {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
            }
            img {
                margin: auto;
            }
        }
    }
    p.industries-stories {
        max-width: 800px;
        margin: auto;
        a {
            font-size: 16px;
            margin: 0 20px 10px;
        }
    }
}
