@import '../../../assets/scss/vars';
template-post {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .banner {
        video {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-color: $gray;
        }
        &.press-release {
          background-image: url('/pi-cms/api//business-man-1031755_1920.jpg') !important;
        }
    }
    .main {
        .content {
            padding: 0;
            background-color: $white;
            overflow: unset;
        }
    }
    p.meta-content{
        color: $dark_gray;
        i {
            margin-right: 10px;
        }
        span {
            margin-right: 20px;
        }
    }
    section.gray {
        background-color: #f6f3f0;
        padding: 60px 0;
        h4 {
            margin: 0;
            text-align: center;
            font-size: 32px;
        }
    }
    .product-preview {
        display: flex;
        @media (max-width: 600px) {
            flex-direction: column;
        }
        .preview-box {
            flex: 1;
            margin-right: 20px;
            .image-preview-box {
                box-shadow: 0 0 3px #ccc;
                margin-bottom: 10px;
                height: 400px;
                display: flex;
                img {
                    display: block;
                    margin: auto;
                }
            }
            .media-files {
                ul {
                    max-width: 600px;
                    li {
                        cursor: pointer;
                        height: 100px;
                        display: flex;
                        img {
                            margin: auto;
                        }
                    }
                }
            }
        }
        .info-box {
            flex: 1;
            margin-left: 20px;
            h3 {
                margin-bottom: 20px;
                font-size: 24px;
            }
            div {
                line-height: 1.6;
                margin-bottom: 20px;
                p, li {
                    margin-bottom: 20px;
                }
            }
            .buttons {
                display: flex;
                .btn-black {
                    margin-right: 20px;
                }
            }
        }
    }
    ul.product-pdf {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            margin: 10px 0;
            width: 50%;
            display: inline-flex;
            a {
                display: inline-flex;
                span {
                    margin: auto 0 auto 10px;
                    font-size: 16px;
                    text-decoration: underline;
                }
            }
        }
    }
    .accordion {
        position: relative;
        margin-top: 40px;
        .head {
            border-top: 1px solid $gray;
            border-bottom: 1px solid $gray;
            line-height: 50px;
            font-size: 24px;
            padding: 0 20px;
            position: relative;
            cursor: pointer;
            user-select: none;
            &:after {
                content: '';
                position: absolute;
                right: 20px;
                line-height: 0;
                border-bottom: 2px solid $dark_gray;
                width: 20px;
                margin-top: 24px;
            }
        }
        .body {
            padding: 10px 20px;
            transition: all 0.3s ease-in-out;
            overflow: hidden;
            max-height: 200000px;
            &.closed {
                max-height: 0;
                padding: 0 20px;
            }
            video {
                width: 100%;
            }
        }

    }
    ul.brands {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        li {
            display: inline-flex;
            height: 80px;
            margin: 0 60px 0 0;
            img {
                margin: auto;
            }
        }
    }
}
