.banner {
    min-height: 400px;
    background-color: #999;
    background-position: center;
    background-size: cover;
    display: flex;
    color: $whitish;
    margin-bottom: 20px;
    height: calc(100vh - 150px);
    ~ .container.content {
        background-color: $white;
        min-height: 200px;
        padding: 20px;
        position: relative;
    }
    .container {
        display: flex;
        flex-direction: column;
        .text {
            background-color: rgba(0,0,0,0.75);
            padding: 20px 20px 0;
            margin-right: auto;
            margin-bottom: 20px;
            border-radius: 20px;
        }
        .brand-box {
            padding: 5px;
            background-color: #fff;
            margin-right: auto;
            box-shadow: 0 0 3px #999;
            margin-bottom: 20px;
            max-width: 200px;
            .brand {
                max-width: fit-content;
                width: 100%;
            }
        }
    }
    p.subtitle {
        max-width: 360px;
        font-size: 20px;
        color: $black;
    }
    &.boxed {
        margin-bottom: -190px;
        @media (max-width: 600px) {
            margin-bottom: 0;
            background-position: 0 100%;
        }
    }
    .excerpt {
        font-size: 20px;
        max-width: 420px;
        margin: 20px 0;
        text-shadow: 0 2px 3px #333;
    }
    p {
        font-size: 20px;
        max-width: 420px;
        margin: 20px 0;
    }
    h4 {
        font-size: 36px;
        text-shadow: 0 2px 3px #333;
    }
    ngx-typed-js {
        text-shadow: 0 2px 3px #333;
    }
}