.btn {
    box-sizing: border-box;
    border: 0;
    line-height: 50px;
    height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 0 25px;
    width: 100%;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.5px;
    max-width: 200px;
    color: $whitish;
    border-radius: 30px;
    &:hover {
        color: $whitish;
    }
    cursor: pointer;
    &:focus {
        outline: none;
    }
    &.btn-yellow {
        background-color: $primary;
        &:focus {
            outline: 2px solid $black;
        }
    }
    &.btn-black {
        background-color: $black;
        &:focus {
            outline: none;
        }
    }
    &.btn-white {
        background-color: $whitish;
        color: $black;
    }
    &.btn-round {
        border-radius: 25px;
    }
    &.has-icon {
        padding-left: 60px;
        position: relative;
        i {
            background-color: $black;
            display: block;
            line-height: 60px;
            width: 60px;
            border-radius: 50%;
            font-size: 24px;
            margin-top: -5px;
            margin-left: -45px;
            position: absolute;
        }
    }
    &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
    }
    &.btn-small {
        display: inline-block;
        width: auto;
        vertical-align: top;
        line-height: 40px;
        height: 40px;
        max-width: 240px;
        &.has-icon {
            i {
                line-height: 50px;
                width: 50px;
                margin-left: -55px;
            }
        }
    }
    &.btn-large {
        font-size: 18px;
        max-width: 300px;
    }
    &.btn-right {
        margin-left: auto;
    }
}
