h1 {
    @extend %heading;
    font-size: 28px;
    .btn {
        margin-left: 10px;
    }
    a {
        margin-right: 10px;
    }
    &.title {
        font-size: 36px;
    }
}

h2 {
    @extend %heading;
    font-size: 24px;
}

h3 {
    @extend %heading;
    font-size: 20px;
}

h4 {
    @extend %heading;
    font-size: 16px;
}

h5 {
    @extend %heading;
    font-size: 14px;
}

h6 {
    @extend %heading;
    font-size: 12px;
}