.media-files {
    ul {
        margin: 0 -10px;
        padding: 0;
        list-style: none;
        li {
            @extend %box-shadow;
            display: inline-flex;
            width: 200px;
            height: 200px;
            position: relative;
            background-color: $white;
            margin: 10px;
            vertical-align: top;
            &.doc-box {
                flex-direction: column;
                text-align: center;
                justify-content: center;
                i.doc-icon {
                    color: $red;
                    font-size: 48px;
                }
                video {
                    position: relative;
                    z-index: 0;
                }
                p.doc-name {
                    margin-top: 20px;
                }
            }
            &.selected {
                border: 3px solid $green;
            }
            img {
                margin: auto;
                display: block;
                max-width: 100%;
                max-height: 100%;
                z-index: 0;
                position: relative;
            }
            span {
                position: absolute;
                font-size: 16px;
                display: none;
                cursor: pointer;
                z-index: 1;
                top: 0;
                width: 40px;
                line-height: 40px;
                text-align: center;
                &.close {
                    right: 0;
                    &.left {
                        right: auto;
                        left: 0;
                    }
                }
                &.check {
                    left: 0;
                }
            }
            &:hover {
                span {
                    display: block;
                    &.close {
                        color: $red;
                    }
                    &.check {
                        color: $green;
                    }
                }
            }
        }
    }
    &.small {
        ul {
            li {
                width: 100px;
                height: 100px;
            }
        }
    }
}