.modal-box {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1010;
    display: flex;
    .modal {
        display: block;
        margin: auto;
        background-color: $whitish;
        position: relative;
        padding: 20px;
        max-height: 100vh;
        overflow: auto;
        h1 {
            margin-top: 10px;
        }
        .modal-close {
            position: absolute;
            right: 0;
            top: 0;
            width: 40px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
            font-size: 28px;
        }
    }
}