.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    .progress {
        position: absolute;
        left: 0;
        background-color: $blue;
        top: 0;
        bottom: 0;
        width: 0;
    }
}