.product-slider {
    display: flex !important;
    margin-bottom: 20px;
    .slide {
        background-color: $gray;
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        position: relative;
        a {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1;
        }
        p {
            margin-bottom: 0;
            position: relative;
        }
        .product-img {
            height: 200px;
            background-color: $white;
            margin-bottom: 20px;
            padding: 10px;
            display: flex;
            img {
                margin: auto;
                max-width: 100%;
                max-height: 100%;
            }
            @media (min-width: 1200px) {
                height: 300px;
            }
        }
    }
    .slick-arrow {
        background-color: $gray;
        border-radius: 0;
        max-width: 100px;
        color: $black;
        height: auto;
        @media (max-width: 480px) {
            display: none;
        }
    }
    .slick-list {
        margin: 0 10px;
    }
}
