.reviews-slider {
    text-align: left;
    width: 100%;
    padding: 40px 0 20px;
    .review {
        display: flex;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 1px 2px $dark_gray;
        flex-direction: column;
        &:nth-child(3n) {
            border-top: 5px solid $primary;
        }
        &:nth-child(3n+1) {
            border-top: 5px solid $black;
        }
        &:nth-child(3n+2) {
            border-top: 5px solid $dark_gray;
        }
        margin: 10px 20px;
        img {
            margin: 0 auto 0 0;
            max-width: 100px;
        }
        .rating {
            color: $primary;
            i {
                margin: 0 2px 0 0;
                font-size: 16px;
            }
        }
        a.read-more {
            margin-left: auto;
            text-decoration: underline;
            &::after {
                content: ' ...';
            }
        }
        p {
            font-size: 24px;
        }
    }
}