@font-face {
    font-family: 'haticons';
    src: url('/assets/fonts/haticons/haticons.eot?rmbtii');
    src: url('/assets/fonts/haticons/haticons.eot?rmbtii#iefix') format('embedded-opentype'),
    url('/assets/fonts/haticons/haticons.ttf?rmbtii') format('truetype'),
    url('/assets/fonts/haticons/haticons.woff?rmbtii') format('woff'),
    url('/assets/fonts/haticons/haticons.svg?rmbtii#haticons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="hi-"],
[class*=" hi-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'haticons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.hi-aws:before {
  content: "\f00a";
}
.hi-amd:before {
  content: "\f00b";
}
.hi-angellist:before {
  content: "\f00c";
}
.hi-applemusic:before {
  content: "\f00d";
}
.hi-applepay:before {
  content: "\f00e";
}
.hi-archlinux:before {
  content: "\f00f";
}
.hi-artstation:before {
  content: "\f01a";
}
.hi-asana:before {
  content: "\f01b";
}
.hi-at-and-t:before {
  content: "\f01c";
}
.hi-atlassian:before {
  content: "\f01d";
}
.hi-atom:before {
  content: "\f01e";
}
.hi-aurelia:before {
  content: "\f01f";
}
.hi-automatic:before {
  content: "\f02a";
}
.hi-autotask:before {
  content: "\f02b";
}
.hi-azurepipelines:before {
  content: "\f02c";
}
.hi-basecamp:before {
  content: "\f02d";
}
.hi-behance:before {
  content: "\f02e";
}
.hi-bing:before {
  content: "\f02f";
}
.hi-bitbucket:before {
  content: "\f03a";
}
.hi-bitly:before {
  content: "\f03b";
}
.hi-blender:before {
  content: "\f03c";
}
.hi-bootstrap:before {
  content: "\f03d";
}
.hi-bower:before {
  content: "\f03e";
}
.hi-cakephp:before {
  content: "\f03f";
}
.hi-campaignmonitor:before {
  content: "\f04a";
}
.hi-coffeescript:before {
  content: "\f04c";
}
.hi-conda-forge:before {
  content: "\f04d";
}
.hi-css3:before {
  content: "\f04e";
}
.hi-csswizardry:before {
  content: "\f04f";
}
.hi-dailymotion:before {
  content: "\f04b";
}
.hi-debian:before {
  content: "\f136";
}
.hi-dell:before {
  content: "\f137";
}
.hi-deno:before {
  content: "\f138";
}
.hi-dependabot:before {
  content: "\f139";
}
.hi-digg:before {
  content: "\f13a";
}
.hi-digitalocean:before {
  content: "\f13b";
}
.hi-dribbble:before {
  content: "\f13c";
}
.hi-ebay:before {
  content: "\f13d";
}
.hi-eclipseide:before {
  content: "\f13e";
}
.hi-eventbrite:before {
  content: "\f13f";
}
.hi-evernote:before {
  content: "\f140";
}
.hi-everplaces:before {
  content: "\f141";
}
.hi-f-secure:before {
  content: "\f142";
}
.hi-favro:before {
  content: "\f143";
}
.hi-fedora:before {
  content: "\f144";
}
.hi-flutter:before {
  content: "\f145";
}
.hi-gitlab:before {
  content: "\f146";
}
.hi-gnu:before {
  content: "\f147";
}
.hi-gnusocial:before {
  content: "\f148";
}
.hi-googlehangoutschat:before {
  content: "\f149";
}
.hi-googlepay:before {
  content: "\f14a";
}
.hi-grafana:before {
  content: "\f14b";
}
.hi-hackaday:before {
  content: "\f14c";
}
.hi-hackster:before {
  content: "\f14d";
}
.hi-hootsuite:before {
  content: "\f14e";
}
.hi-hubspot:before {
  content: "\f14f";
}
.hi-iconjar:before {
  content: "\f150";
}
.hi-inkscape:before {
  content: "\f151";
}
.hi-intel:before {
  content: "\f152";
}
.hi-internetexplorer:before {
  content: "\f153";
}
.hi-invision:before {
  content: "\f154";
}
.hi-jabber:before {
  content: "\f155";
}
.hi-javascript:before {
  content: "\f156";
}
.hi-jenkins:before {
  content: "\f157";
}
.hi-kaios:before {
  content: "\f158";
}
.hi-keybase:before {
  content: "\f159";
}
.hi-kibana:before {
  content: "\f15a";
}
.hi-klout:before {
  content: "\f15b";
}
.hi-kotlin:before {
  content: "\f15c";
}
.hi-laravel:before {
  content: "\f15d";
}
.hi-laravelhorizon:before {
  content: "\f15e";
}
.hi-letterboxd:before {
  content: "\f15f";
}
.hi-line:before {
  content: "\f160";
}
.hi-linewebtoon:before {
  content: "\f161";
}
.hi-linuxmint:before {
  content: "\f162";
}
.hi-magento:before {
  content: "\f163";
}
.hi-magisk:before {
  content: "\f164";
}
.hi-mastodon:before {
  content: "\f165";
}
.hi-mathworks:before {
  content: "\f166";
}
.hi-mediafire:before {
  content: "\f167";
}
.hi-mixcloud:before {
  content: "\f168";
}
.hi-monogram:before {
  content: "\f169";
}
.hi-mysql:before {
  content: "\f16a";
}
.hi-netflix:before {
  content: "\f16b";
}
.hi-odnoklassniki:before {
  content: "\f16c";
}
.hi-opensuse:before {
  content: "\f16d";
}
.hi-periscope:before {
  content: "\f16e";
}
.hi-php:before {
  content: "\f16f";
}
.hi-plangrid:before {
  content: "\f170";
}
.hi-player-dot-me:before {
  content: "\f171";
}
.hi-plurk:before {
  content: "\f172";
}
.hi-powershell:before {
  content: "\f173";
}
.hi-probot:before {
  content: "\f174";
}
.hi-processwire:before {
  content: "\f175";
}
.hi-producthunt:before {
  content: "\f176";
}
.hi-python:before {
  content: "\f177";
}
.hi-reason:before {
  content: "\f178";
}
.hi-redbubble:before {
  content: "\f179";
}
.hi-redhat:before {
  content: "\f17a";
}
.hi-redux:before {
  content: "\f17b";
}
.hi-riot:before {
  content: "\f17c";
}
.hi-ruby:before {
  content: "\f17d";
}
.hi-runkeeper:before {
  content: "\f17e";
}
.hi-rust:before {
  content: "\f17f";
}
.hi-salesforce:before {
  content: "\f180";
}
.hi-samsung:before {
  content: "\f181";
}
.hi-samsungpay:before {
  content: "\f182";
}
.hi-sass:before {
  content: "\f183";
}
.hi-sega:before {
  content: "\f184";
}
.hi-shazam:before {
  content: "\f185";
}
.hi-shopify:before {
  content: "\f186";
}
.hi-sinaweibo:before {
  content: "\f187";
}
.hi-skyliner:before {
  content: "\f188";
}
.hi-slack:before {
  content: "\f064";
}
.hi-sourceforge:before {
  content: "\f189";
}
.hi-spotify:before {
  content: "\f18a";
}
.hi-staticman:before {
  content: "\f18b";
}
.hi-steemit:before {
  content: "\f18c";
}
.hi-stylus:before {
  content: "\f18d";
}
.hi-swarm:before {
  content: "\f18e";
}
.hi-swift:before {
  content: "\f18f";
}
.hi-symfony:before {
  content: "\f190";
}
.hi-teamviewer:before {
  content: "\f191";
}
.hi-ted:before {
  content: "\f192";
}
.hi-teespring:before {
  content: "\f193";
}
.hi-tencentqq:before {
  content: "\f194";
}
.hi-tiktok:before {
  content: "\f195";
}
.hi-todoist:before {
  content: "\f196";
}
.hi-toggl:before {
  content: "\f197";
}
.hi-tor:before {
  content: "\f198";
}
.hi-treehouse:before {
  content: "\f199";
}
.hi-twilio:before {
  content: "\f19a";
}
.hi-twitch:before {
  content: "\f19b";
}
.hi-typescript:before {
  content: "\f19c";
}
.hi-typo3:before {
  content: "\f19d";
}
.hi-udacity:before {
  content: "\f19e";
}
.hi-udemy:before {
  content: "\f19f";
}
.hi-unity:before {
  content: "\f0a0";
}
.hi-upwork:before {
  content: "\f0a1";
}
.hi-viadeo:before {
  content: "\f0a2";
}
.hi-vim:before {
  content: "\f0a3";
}
.hi-vimeo:before {
  content: "\f0a4";
}
.hi-vine:before {
  content: "\f0a5";
}
.hi-visualstudiocode:before {
  content: "\f0a6";
}
.hi-vk:before {
  content: "\f0a7";
}
.hi-vlcmediaplayer:before {
  content: "\f0a8";
}
.hi-vue-js:before {
  content: "\f0a9";
}
.hi-webstorm:before {
  content: "\f0aa";
}
.hi-wechat:before {
  content: "\f0ab";
}
.hi-wheniwork:before {
  content: "\f0ac";
}
.hi-wikipedia:before {
  content: "\f0ad";
}
.hi-wix:before {
  content: "\f0ae";
}
.hi-wordpress:before {
  content: "\f0af";
}
.hi-xbox:before {
  content: "\f0b0";
}
.hi-xcode:before {
  content: "\f0b1";
}
.hi-xing:before {
  content: "\f0b2";
}
.hi-yammer:before {
  content: "\f0b3";
}
.hi-yandex:before {
  content: "\f0b4";
}
.hi-yarn:before {
  content: "\f0b5";
}
.hi-ycombinator:before {
  content: "\f0b6";
}
.hi-zendesk:before {
  content: "\f0b7";
}
.hi-zerply:before {
  content: "\f0b8";
}
.hi-zillow:before {
  content: "\f0b9";
}
.hi-zorin:before {
  content: "\f0ba";
}
.hi-tic-tac-toe:before {
  content: "\f0bb";
}
.hi-pakpak:before {
  content: "\f0bc";
}
.hi-network:before {
  content: "\e9aa";
}
.hi-haticons:before {
  content: "\f000";
}
.hi-play:before {
  content: "\f001";
}
.hi-paypal:before {
  content: "\f002";
}
.hi-share:before {
  content: "\f003";
}
.hi-launchpad:before {
  content: "\f004";
}
.hi-ubuntu:before {
  content: "\f005";
}
.hi-filezilla:before {
  content: "\f006";
}
.hi-android:before {
  content: "\f007";
}
.hi-apple:before {
  content: "\f008";
}
.hi-blackberry:before {
  content: "\f009";
}
.hi-blob:before {
  content: "\f010";
}
.hi-blog:before {
  content: "\f011";
}
.hi-cat-paw:before {
  content: "\f012";
}
.hi-chrome:before {
  content: "\f013";
}
.hi-coop:before {
  content: "\f014";
}
.hi-credit-card:before {
  content: "\f015";
}
.hi-doctor:before {
  content: "\f016";
}
.hi-dog-paw:before {
  content: "\f017";
}
.hi-drive:before {
  content: "\f018";
}
.hi-dropbox:before {
  content: "\f019";
}
.hi-edge:before {
  content: "\f020";
}
.hi-facebook:before {
  content: "\f021";
}
.hi-fire:before {
  content: "\f022";
}
.hi-folder:before {
  content: "\f023";
}
.hi-google-assistant:before {
  content: "\f024";
}
.hi-google-plus:before {
  content: "\f025";
}
.hi-google:before {
  content: "\f026";
}
.hi-hangout:before {
  content: "\f027";
}
.hi-hard-disk:before {
  content: "\f028";
}
.hi-home:before {
  content: "\f029";
}
.hi-html5:before {
  content: "\f030";
}
.hi-hut:before {
  content: "\f031";
}
.hi-instagram:before {
  content: "\f032";
}
.hi-landline:before {
  content: "\f033";
}
.hi-linkedin:before {
  content: "\f034";
}
.hi-map:before {
  content: "\f035";
}
.hi-message:before {
  content: "\f036";
}
.hi-music:before {
  content: "\f037";
}
.hi-npm:before {
  content: "\f038";
}
.hi-pacman:before {
  content: "\f039";
}
.hi-pencil:before {
  content: "\f040";
}
.hi-phone:before {
  content: "\f041";
}
.hi-picasa:before {
  content: "\f042";
}
.hi-reddit:before {
  content: "\f043";
}
.hi-skype:before {
  content: "\f044";
}
.hi-spanchat:before {
  content: "\f045";
}
.hi-star:before {
  content: "\f046";
}
.hi-trello:before {
  content: "\f047";
}
.hi-trophy:before {
  content: "\f048";
}
.hi-twitter-font:before {
  content: "\f049";
}
.hi-twitter:before {
  content: "\f050";
}
.hi-wholensole:before {
  content: "\f051";
}
.hi-windows:before {
  content: "\f052";
}
.hi-youtube-play:before {
  content: "\f053";
}
.hi-amazon:before {
  content: "\f054";
}
.hi-redo:before {
  content: "\f055";
}
.hi-undo:before {
  content: "\f056";
}
.hi-profile:before {
  content: "\f057";
}
.hi-clubs:before {
  content: "\f058";
}
.hi-spades:before {
  content: "\f059";
}
.hi-diamonds:before {
  content: "\f05a";
}
.hi-heart:before {
  content: "\f05b";
}
.hi-sim_card:before {
  content: "\f05c";
}
.hi-trash:before {
  content: "\f05d";
}
.hi-attachment:before {
  content: "\f05e";
}
.hi-thumbs-down:before {
  content: "\f05f";
}
.hi-thumbs-up:before {
  content: "\f060";
}
.hi-to-do:before {
  content: "\f061";
}
.hi-dream11:before {
  content: "\f062";
}
.hi-suru:before {
  content: "\f063";
}
.hi-microblog:before {
  content: "\f065";
}
.hi-microgenetics:before {
  content: "\f066";
}
.hi-microsoft:before {
  content: "\f067";
}
.hi-microsoft-access:before {
  content: "\f068";
}
.hi-microsoftexcel:before {
  content: "\f069";
}
.hi-microsoft-one-note:before {
  content: "\f06a";
}
.hi-microsoft-outlook:before {
  content: "\f06b";
}
.hi-microsoft-power-point:before {
  content: "\f06c";
}
.hi-microsoft-word:before {
  content: "\f06d";
}
.hi-prismic:before {
  content: "\f06e";
}
.hi-statamic:before {
  content: "\f06f";
}
.hi-archive:before {
  content: "\f070";
}
.hi-library:before {
  content: "\f071";
}
.hi-zoom-out:before {
  content: "\f072";
}
.hi-bell:before {
  content: "\f073";
}
.hi-location:before {
  content: "\f074";
}
.hi-allo:before {
  content: "\f075";
}
.hi-block:before {
  content: "\f076";
}
.hi-book-my-show:before {
  content: "\f077";
}
.hi-duo:before {
  content: "\f078";
}
.hi-electric:before {
  content: "\f079";
}
.hi-gaming-console:before {
  content: "\f07a";
}
.hi-lego-face:before {
  content: "\f07b";
}
.hi-maestro:before {
  content: "\f07c";
}
.hi-master-card:before {
  content: "\f07d";
}
.hi-medium:before {
  content: "\f07e";
}
.hi-paytm:before {
  content: "\f07f";
}
.hi-play-station:before {
  content: "\f080";
}
.hi-plugin:before {
  content: "\f081";
}
.hi-pocket:before {
  content: "\f082";
}
.hi-programmerindia:before {
  content: "\f083";
}
.hi-search:before {
  content: "\f084";
}
.hi-ad-block-plus:before {
  content: "\f085";
}
.hi-swiggy:before {
  content: "\f086";
}
.hi-tumblr:before {
  content: "\f087";
}
.hi-uber-driver:before {
  content: "\f088";
}
.hi-uber-freight:before {
  content: "\f089";
}
.hi-uber:before {
  content: "\f08a";
}
.hi-visa:before {
  content: "\f08b";
}
.hi-yash-raj:before {
  content: "\f08c";
}
.hi-zomato:before {
  content: "\f08d";
}
.hi-zoom-in:before {
  content: "\f08e";
}
.hi-finder:before {
  content: "\f08f";
}
.hi-washing-machine:before {
  content: "\f090";
}
.hi-tags:before {
  content: "\f091";
}
.hi-tag:before {
  content: "\f092";
}
.hi-more:before {
  content: "\f093";
}
.hi-nav:before {
  content: "\f094";
}
.hi-help:before {
  content: "\f095";
}
.hi-gmail:before {
  content: "\f096";
}
.hi-letterboxd1:before {
  content: "\f097";
}
.hi-mailchimp:before {
  content: "\f098";
}
.hi-mailru:before {
  content: "\f099";
}
.hi-protonmail:before {
  content: "\f09a";
}
.hi-envelope:before {
  content: "\f09b";
}
.hi-envelope-open:before {
  content: "\f09c";
}
.hi-paper-plane:before {
  content: "\f09d";
}
.hi-user:before {
  content: "\f09e";
}
.hi-user-plus:before {
  content: "\f09f";
}
.hi-user-minus:before {
  content: "\f0f0";
}
.hi-user-check:before {
  content: "\f0f1";
}
.hi-users:before {
  content: "\f0f2";
}
.hi-gravatar:before {
  content: "\f0f3";
}
.hi-superuser:before {
  content: "\f0f4";
}
.hi-key:before {
  content: "\f0f5";
}
.hi-angular:before {
  content: "\f0f6";
}
.hi-ola-cabs:before {
  content: "\f0f7";
}
.hi-bitcoin:before {
  content: "\f0f8";
}
.hi-tinder-icon:before {
  content: "\f0f9";
}
.hi-viber-icon:before {
  content: "\f0fa";
}
.hi-whatsapp:before {
  content: "\f0fb";
}
.hi-steam:before {
  content: "\f0fc";
}
.hi-github:before {
  content: "\f0fd";
}
.hi-tux:before {
  content: "\f0fe";
}
.hi-firefox:before {
  content: "\f0ff";
}
.hi-git:before {
  content: "\f100";
}
.hi-check:before {
  content: "\f101";
}
.hi-close:before {
  content: "\f102";
}
.hi-adobe:before {
  content: "\f103";
}
.hi-appboxlab:before {
  content: "\f104";
}
.hi-bean-bag:before {
  content: "\f105";
}
.hi-bulb:before {
  content: "\f106";
}
.hi-bus:before {
  content: "\f107";
}
.hi-camera:before {
  content: "\f108";
}
.hi-car:before {
  content: "\f109";
}
.hi-cart:before {
  content: "\f10a";
}
.hi-checkbox-unchecked:before {
  content: "\f10b";
}
.hi-checked:before {
  content: "\f10c";
}
.hi-chevron-left:before {
  content: "\f10d";
}
.hi-chevron-right:before {
  content: "\f10e";
}
.hi-cookie:before {
  content: "\f10f";
}
.hi-creative-cloud:before {
  content: "\f110";
}
.hi-dihadiwala:before {
  content: "\f111";
}
.hi-edit:before {
  content: "\f112";
}
.hi-flag:before {
  content: "\f113";
}
.hi-grofers:before {
  content: "\f114";
}
.hi-images:before {
  content: "\f115";
}
.hi-incognito:before {
  content: "\f116";
}
.hi-indane:before {
  content: "\f117";
}
.hi-info:before {
  content: "\f118";
}
.hi-kadam:before {
  content: "\f119";
}
.hi-lock:before {
  content: "\f11a";
}
.hi-lucifer:before {
  content: "\f11b";
}
.hi-messenger:before {
  content: "\f11c";
}
.hi-meteor:before {
  content: "\f11d";
}
.hi-ojook:before {
  content: "\f11e";
}
.hi-orchid:before {
  content: "\f11f";
}
.hi-paintbox:before {
  content: "\f120";
}
.hi-radio-checked:before {
  content: "\f121";
}
.hi-radio-unchecked:before {
  content: "\f122";
}
.hi-robot:before {
  content: "\f123";
}
.hi-support:before {
  content: "\f124";
}
.hi-tooth:before {
  content: "\f125";
}
.hi-unlock:before {
  content: "\f126";
}
.hi-wallet:before {
  content: "\f127";
}
.hi-calendar:before {
  content: "\f128";
}
.hi-chevron-top:before {
  content: "\f129";
}
.hi-chevron-bottom:before {
  content: "\f12a";
}
.hi-elastic-cloud:before {
  content: "\f12b";
}
.hi-icloud:before {
  content: "\f12c";
}
.hi-cloudflare:before {
  content: "\f12d";
}
.hi-soundcloud:before {
  content: "\f12e";
}
.hi-ionic:before {
  content: "\f12f";
}
.hi-mail:before {
  content: "\f130";
}
.hi-time:before {
  content: "\f131";
}
.hi-bookmark-o:before {
  content: "\f132";
}
.hi-bookmark:before {
  content: "\f133";
}
.hi-star-o:before {
  content: "\f134";
}
.hi-star-half:before {
  content: "\f135";
}