@import 'components/table';
@import 'components/button';
@import 'components/select2';
@import 'components/headings';
@import 'components/modal';
@import 'components/pagination';
@import 'components/flex-box';
@import 'components/product-slider';
@import 'components/reviews-slider';
@import 'components/media-files';
@import 'components/progressbar';
@import 'components/banner';
.text-danger {
    color: $red;
}
li>input.select2-search__field {
    margin-top: 15px !important;
}
.boxes {
    grid-gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    .box {
        height: max-content;
        margin-bottom: 0;
    }
}
.columns {
    display: flex;
    .left {
        flex: 3;
        padding-right: 20px;
        @media screen and (max-width: 600px) {
            padding-right: 0;
        }
    }
    .right {
        flex: 1;
    }
    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
}
.box {
    background-color: $white;
    position: relative;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 1px 2px #ccc;
    h4.head {
        margin: 0;
        cursor: pointer;
        font-size: 18px;
        padding: 0 40px 0 20px;
        line-height: 40px;
        font-weight: 400;
        border-bottom: 1px solid $gray;
        user-select: none; 
        &::after {
            content: "";
            position: absolute;
            border: 6px solid transparent;
            border-top: 10px solid $gray;
            right: 15px;
            top: 16px;
        }
    }
    .body {
        padding: 20px;
        transition: all 0.3s ease-in-out;
        max-height: 540px;
        overflow: auto;
        &.overflown {
            overflow: visible;
        }
        &.closed {
            padding: 0 20px;
            max-height: 0;
        }
        button.btn-yellow {
            min-width: 200px;
        }
    }
    &.sticky {
        position: sticky;
        top: 0;
    }
}
span.tox-statusbar__branding {
    display: none;
}
.upload-box {
    padding: 10px;
    background-color: $whitish;
    border: 2px dashed #ccc;
    margin-top: 20px;
}
.tox {
    &.tox-tinymce {
        min-height: 400px !important;
        border-radius: 20px;
    }
    .tox-button[title="Save"] {
        background-color: $primary;
        border: 0;
    }
}
p.no-data img {
    margin: auto;
}

.container {
    &.boxed, &.solutions {
        display: flex;
        min-height: 130px;
        margin-bottom: 20px;
        .left {
            width: 100%;
            flex:1;
            padding-right: 20px;
            margin-right: auto;
            h4 {
                font-size: 20px;
                margin: 0 0 20px 0;
            }
        }
        .right {
            margin-left: auto;
            flex:2;
            padding-left: 20px;
            p {
                font-size: 16px;
            }
        }
    }
}

.sub-header {
    background-color: #efeae6;
    margin: 20px -20px;
    padding: 5px 15px;
    font-size: 12px;
    color: $dark_gray;
}
.sub-heading {
    margin: 0 -20px -20px;
    padding: 5px 20px;
    background-color: $black;
    color: $whitish;
    text-transform: uppercase;
}
.check-group {
    position: relative;
    margin-bottom: 10px;
    label {
        position: static;
        display: inline-block;
        vertical-align: middle;
    }
}
dp-date-picker {
    display: block !important;
}
form h6:first-child {margin-top: -15px;}
.back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: $whitish;
    font-size: 16px;
    max-width: 40px;
    padding: 0;
    line-height: 40px;
    height: 40px;
    background-color: $primary;
}
.content.industry.container {
    display: flex;
    line-height: 1.5;
    @media (max-width: 600px) {
        flex-direction: column;
    }
    .market-left {
        flex: 2;
        padding-right: 20px;
        @media (max-width: 600px) {
            padding-right: 0;
        }
    }
    
    p {
        font-size: 16px;
    }
    
    .prod-right {
        flex: 1;
        padding-left: 20px;
        min-width: 300px;
        @media (max-width: 600px) {
            padding-left: 0;
            margin-top: 20px;
        }
    }
}
ngx-typed-js {
    color: $whitish;
}
.flex-container {
    display: flex;
    .main-content {
        flex: 2;
        padding-right: 20px;
        @media (max-width: 800px) {
            padding-right: 0;
        }
        p {
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
    .main-sidebar {
        flex: 1;
        padding-left: 20px;
        @media (max-width: 800px) {
            padding-left: 0;
        }
    }
    @media (max-width: 800px) {
        flex-direction: column;
    }
    
    .widget {
        margin: 0 0 30px;
        h4 {
            font-size: 24px;
            margin-bottom: 10px;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                display: flex;
                i {
                    width: 40px;
                    color: $primary;
                    font-size: 20px;
                    display: block;
                    line-height: 28px;
                }
                a {
                    color: $black;
                }
            }
        }
        li, p {
            font-size: 16px;
            margin: 0 0 10px;
        }
    }
    &.case-study {
        .post-content, .post-excerpt {
            h2 {
                line-height: 50px;
                margin: 30px 0 20px;
                position: relative;
                &:first-child {
                    margin-top: 0;
                }
                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 100px;
                    height: 1px;
                    border-top: 4px double #d0d0ce;
                    bottom: 0;
                }
            }
        }

    }
}