html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    @extend html;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    color: $black;
    font-size: 14px;
    overflow-x: hidden;
}
.card {
    background-color: $whitish;
    padding: 20px;
    margin: auto;
    box-shadow: 0 1px 2px #ccc;
    min-width: 300px;
    border-radius: 20px;
}
input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="phone"], select, textarea {
    box-sizing: border-box;
    background-color: $gray;
    border: 0;
    line-height:50px;
    height: 50px;
    display: block;
    width:100%;
    font-size: 14px;
    color: $black;
    padding: 0 15px;
    &:-internal-autofill-selected {
        background-color: $gray !important;
        color: $black !important;
        font-size: 14px;
    }
    &:focus {
        outline: none;
    }
    &.no-outline {
        &:focus {
            outline: none;
        }
    }
}
textarea {
    height: auto;
    min-height: 150px;
    line-height: 20px;
    padding: 5px 15px;
    resize: vertical;
    &.no-outline {
        &:focus {
            outline: none;
        }
    }
}
label {
    box-sizing: border-box;
    display: block;
    cursor: pointer;
}
p {
    margin: 0 0 10px;
    font-size: 16px;
}
.form-group {
    margin-top: 10px;
    margin-bottom: 30px;
    position: relative;
    label {
        position: absolute;
        top: -10px;
        background-color: $white;
        font-size: 11px;
        line-height: 17px;
        padding: 0 7px;
        border: 1px solid $black;
    }
    .ng-touched.ng-dirty.ng-invalid~.msg.text-danger {
        display: block;
    }
}
small {
    box-sizing: border-box;
    font-size: 11px;
    line-height: 15px;
    display: block;
    &.msg {
        display: none;
    }
}
a {
    box-sizing: border-box;
    cursor: pointer;
    color: $primary;
    text-decoration: none;
    display: inline-block;
    &:hover {
        color: $primary;
    }
    &:focus {
        color: $primary;
        outline: none;
    }
}

img {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1240px;
    width: 100%;
    padding: 0 20px;
    margin: auto;
}
ol, ul {
    li {
        font-size: 14px;
    }
}
.main {
    padding-bottom: 40px;
    .content {
        padding: 0;
        background-color: $white;
        overflow: unset;
    }
}
