$black: #1a2d38;
$primary: #de7c00;
$dark_gray: #565555;
$gray: #d0d0ce;
$grayish: #a3a2a1;
$white: #fff;
$whitish: #fcfaf1;
$red: #f14e4e;
$blue: #0087cf;
$green: #669e0d;
$secondary: #313541;

// Social Colors
$facebook_color: #3b5998;
$twitter_color: #206192;
$linkedin_color: #3aa1f2